.box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  .input {
    height: 50px;
    border: 1px solid;
    border-radius: $br-small;
    outline: none;
    transform-origin: top left;
    font-size: $f-normal;
    background-color: $color-white;
    padding: 0px 15px;
  }

  .label {
    position: absolute;
    pointer-events: none;
    top: 15px;
    left: 15px;
    transition: 0.3s all;
    color: $color-input-placeholder;
  }

  .input:focus + .label,
  .input:not(:placeholder-shown) + .label {
    top: -10px;
    font-size: $f-small;
    background-color: $color-white;
    padding: 0 5px;
    transition: 0.3s all;
  }
}
