// COLORS
$color-white: #fff;
$color-grey-shadow: #66645d;
$color-input-placeholder: rgb(118, 118, 118);
$color-cream: #f7f1dc;

// FONTS
$f-normal: 1rem;
$f-small: 0.9rem;
$f-big: 1,6rem;

// BORDERS
$br-big: 15px;
$br-small: 5px;